html{
    box-sizing:border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8BBEB2;
    color: #E8C547;
    display: flex;
    align-items: center;
    justify-items: center;

}
.main-myStuff{
    border-radius: 0 0 25px 25px;
    background-color:#191D32;
    width:1440px;

}
.myStuff{
    font-size: 30px;
    margin: 10vh;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    
    border-radius: 0 0 25px 25px;
    flex-direction: column;
    justify-content:space-around;
    background-color:#191D32;
}
.myStuff__header{
    font-size: 50px;
    color: #F2F3D9;
}
@media screen and (max-width: 425px) {
    body{
        background:#EE6352;
    }
    .myStuff{
        font-size: 50px;
        flex-direction: column;
        justify-content:space-around;
    }
}
@media screen and (max-width: 768px) {
    body{
        background:#119DA4;
    }
    .myStuff{
        font-size: 30px;
        flex-direction: column;
        justify-content:space-around;
    }
}